html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.leftAnalog {
    position: absolute;
    left: 0;
    bottom : 0;
}

.rightAnalog {
    position: absolute;
    right: 0;
    bottom : 0;
}